body {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2rem;

    height: 100dvh;
    margin: 0px;
}
p {
    margin-top: 0px;
    margin-bottom: 0px;
}
button {
    padding: 0.5rem 0.8rem;
    background: none;
    border: 0.2rem solid #000;
    border-radius: 2rem;
    color: black;
    touch-action: manipulation; /* prevent double-tap zooming on iOS */
}

#cardInfo {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    padding: 0px 1rem;
}
.cardContainer {
    display: flex;
    width: fit-content;
    align-items: center;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}
.cardContainer p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    vertical-align: middle;
    text-align: left;
}
.cardContainer input[type="checkbox"] {
    min-height: 2rem;
    min-width: 2rem;
    vertical-align: middle;
    margin-right: 0.5rem;
    -webkit-appearance: none; /* Remove default appearance */
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0.2rem solid #000;
    border-radius: 0.5rem;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}
.cardContainer input[type="checkbox"]:checked {
    background-color: transparent;
    border-color: #000;
}
.cardContainer input[type="checkbox"]::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-sizing: border-box;
}
.cardContainer input[type="checkbox"]:checked::after {
    content: '✓';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

#deckNavigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}
#pageNumbers {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
}
.pageButton {
    font-size: 2rem;
    border: none;
}

#showHideButton {
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    justify-content: center;
}

#config {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
#showHideButton i {
    margin-right: 0.5rem;
}
