body {
    text-align: center;
    font-family: sans-serif;
    font-size: clamp(1.1em, 4vw, 1.8em);
}
p {
    margin-top: 0px;
    margin-bottom: 0px;
}
button {
    padding: 0.5em 0.8em;
}
#cardInfo {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.cardContainer p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    vertical-align: middle;
}
.cardContainer input[type=checkbox] {
    height: clamp(1.1em, 4vw, 1.8em);
    width: clamp(1.1em, 4vw, 1.8em);
    vertical-align: middle;
    margin-right: clamp(0.55em, 2vw, 0.9em);
}
.cardContainer input[type="checkbox"]:before {
    width: clamp(1.1em, 4vw, 1.8em);
    height: clamp(1.1em, 4vw, 1.8em);
}
.cardContainer input[type="checkbox"]:after {
    top: -clamp(1.1em, 4vw, 1.8em);
    width: clamp(1.1em, 4vw, 1.8em);
    height: clamp(1.1em, 4vw, 1.8em);
}
#pageNumbers {
    display: inline-block;
    margin-left: 1.5em;
    margin-right: 1.5em;
}
#deckNavigation {
    display: flex;
    justify-content: center;
    align-items: center;
}
#config {
    margin-top: 1em;
}
